body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer {
  font-size: 60px;
  margin: 30px 0;
}

#controls button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

#session-boxes {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically (inside row) */
  margin-bottom: 100px; /* space from bottom */
  margin-left: auto; /* center the whole container */
  margin-right: auto; /* center the whole container */
  gap: 8px;
  margin-top: 10px;
}

.session-box {
  width: 20px;
  height: 20px;
  border: 2px solid #555;
}

.session-box.filled {
  background: #555;
}
.session-box.pomodoro {
  border-color: #e74c3c;
}



#settings-btn {
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
}

#settings-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: white;
  padding: 20px;
  border: 2px solid #555;
}
